%div#root{'data-role'=> 'page'}
  %div{'data-role' => 'header'}
    %a{:href => "#{@url}", 'data-role' => 'button'} Source
    %a{:href => '#info', 'data-role' => 'button', 'data-icon' => 'info', 'data-iconpos' => 'notext', 'data-transition' => 'flip'}
    %h1 About mobile-devcenter

  %div{'data-role' => 'content'}
    = @content

%div#info{'data-role'=> 'page'}
  %div{'data-role' => 'header'}
    %a{:href => '#root', 'data-role' => 'button', 'data-icon' => 'home', 'data-iconpos' => 'notext', 'data-transition' => 'flip', 'class' => 'ui-btn-right'}
    %h1 About mobile-devcenter

  %div{'data-role' => 'content'}
    %p
      This is
      %b NOT OFFICIAL
      page of 
      %a{:href => 'http://heroku.com'} Heroku.
    %p
      Almost of all contents are retrieved from 
      %a{:href => "#{@url}"} devcenter.heroku.com
    %p
      Optimized for mobile via
      %a{:href => "http://jquerymobile.com/demos/1.0rc1/docs/"} jQuery Mobile
    %p
      Created by
      %a{:href => "http://twitter.com/marutanm"} @marutanm
    %p
      Source Code is
      %a{:href => "https://github.com/marutanm/mobile-devcenter"}here.
      %br
      All comments and Pull Requests are welcome! (i.e. Even just correct my English)
      %br
      If you found bugs,
      %a{:href => "https://github.com/marutanm/mobile-devcenter/issues"}feel free to notice
      me.

